.navbar
{
  background-color:#020C31!important;
} 
.nav-link
{
    color:#FFF!important;
}
.active, .navbar ul li:hover
{
    background:#343a4e!important ;
    border-radius: 3px!important;
    
}
.change-font-color
{
    text-align: center!important;
   
}
.card
{
    background-color: rgba(82, 184, 190, 0.14)!important;
    height:405px!important; 
    

}
.headCard
{
    font-size: large!important;
}
.AboutUs
{
    background-color: rgba(159, 158, 204, 0.19)!important;
    height:auto!important;
    
}

.footerbackground
{
    background-color:#020C31!important;
}
.h3-color
{
    color: #FFF!important;
}
.hr-light
{
    border-color: #FFF;
}
.colmn-3
{
   text-align: center;
}
.p-text
{
    color: #FFF;
    text-align: left;
}
.colm-4
{
    line-height: 400%;
}

.cantact-card
{
    background-color: #FFF!important;
}
.map-contact
{
    width:850px;
    height:405px;
   
}